body {
    background-color: #1F2923;
    color: white;
    font-size: 16px;
}

.btn-movie {
    box-shadow: 0px 2px 14px -7px #276873;
    background: linear-gradient(to bottom, #fcfcfc 5%, #556a77 100%);
    background-color: #fcfcfc;
    border-radius: 6px;
    border: 1px solid #a7b9c4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 27px;
    text-decoration: none;
    text-shadow: 0px 1px 50px #3d768a;
    padding: 0;
    height: 38px;
    max-height: 38px;
    width: 33% !important;
    vertical-align: unset !important;
    margin-top: 0;
    float: right;
}

.btn-movie:hover {
    background: linear-gradient(to bottom, #556a77 5%, #fcfcfc 100%);
    background-color: #556a77;
}

.btn-movie:active {
    position: relative;
    top: 1px;
}

.footer {
    bottom: 0;
    position: fixed;
    background-color: #647687;
    font-size: 20px;
    vertical-align: middle;
    width: 100%;
}

.bottom-active {
    color: #41D7DC;
    font-weight: bold;
}

.bottom-inactive {
    color: #ffffff;
}

.ico-n {
    color: gray;
}

.ico-selected {
    color: blue;
}

.circle {
    color: #3497F9;
}

.input-group {
    display: inline-block;
    width: 65%;
}

.form-control {
    width: 100% !important;
}